<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div id="content">
      <%- include('partials/nav') %>
      <div id="main">
        <h1><%= food.name %></h1>
        <h2>Ingredients</h2>
        <ul>
          <% food.ingredients.forEach(ingredient => { %>
          <a href="<%= ingredient.url %>"><li><%-ingredient.name %></li></a>
          <% }) %>
        </ul>
        <h2>Price: ¥<%= food.price %></h2>
        <h2>Stock: <%= food.stock %></h2>
        <hr />
        <button><a href="<%= food.url %>/delete">Delete Food</a></button>
        <button><a href="<%= food.url %>/update">Update Food</a></button>
      </div>
    </div>
  </body>
</html>
